body {
  background-color: rgb(31, 87, 192);
}
.App {
    background-color: rgba(100, 148, 237, 0.705);
    border: 5px black solid;
    border-radius: 60px;
    padding: 0;

  margin: auto 0;
}
.smart-thermostat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 500px;
}

.smart-thermostat button {
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.smart-thermostat button:hover {
  background-color: #3e8e41;
}

.smart-thermostat button:active {
  background-color: #2980b9;
}

.smart-thermostat input[type="number"] {
  width: 80px;
  margin: 0 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.smart-thermostat label {
  font-weight: bold;
  margin-right: 10px;
}

.smart-thermostat select {
  margin-left: 10px;
}

.temperature-display {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}


.temperature-setting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 25px;
}

.temperature-setting button {
  margin: 0 5px;
  padding: 5px;
  background-color: #4CAF50;
  font-size: 25px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.temperature-setting input {
  width: 80px;
  margin: 0 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.temperature-setting button:hover {
  background-color: #3e8e41;
}

.temperature-setting button:active {
  background-color: #2980b9;
}
.schedule-setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  font-size: 20px;
}

.schedule-setting label {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.schedule-setting select {
  margin-left: 50px;
}

.schedule-setting input[type="number"] {
  width: 80px;
  margin-right: 10px;
  margin-bottom: 15px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
